

<style>
.photoContainer {
  width: 100%;
  height: 40vh;
  text-align: center;
  overflow: hidden;
  margin-top: 0px;
}

.postframe {
  padding: 3vh;
  margin-top: -10vh;
  background-color: white;
  border-radius: 3px;
}

.containerposition {
  position: relative;
  margin-top: -2vh;
}
</style>


<div style="background-color: #F8F8F8;">

<div class="photoContainer">
  <img style="object-fit: fill;" src=<%= @post["photo"] %> alt=<%= @post["title"] %>>
</div>

<div class="container" style="position: relative; margin-top: -2vh;" >
  <div class="postframe">
    <center>
      <h2 style="font-size: 2vh;"><%= @post["date"].html_safe%></h2>
      <h1 style="font-size: 4vh;"><%= @post["title"].html_safe%></h1>
      <br>
    </center>
    <%= @post["text"].html_safe%>

    <% if !@post["video"].nil?  %>
    <h3 style="font-size: 2vh;">Veja o vídeo completo:</h3>
      <center>
        <iframe width="100%" max-width="500px" height="400px" src=<%= @post["video"].html_safe%> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </center>
    <% end %>
  </div>
</div>

</div>
