

<style>
.photoContainer {
  width: 100%;
  height: 40vh;
  text-align: center;
  overflow: hidden;
  margin-top: 0px;
}

.postframe {
  padding: 3vh;
  margin-top: -10vh;
  background-color: white;
  border-radius: 3px;
}

.containerposition {
  position: relative;
  margin-top: -2vh;
}

#my_iFrame{
height: 400px;
width: 100%;
max-width: 800px;

}

</style>


<div style="background-color: #F8F8F8;">

<div class="photoContainer">
  <img style="object-fit: fill;" src=<%= @post["photo"] %> alt=<%= @post["title"] %>>
</div>

<div class="container" style="position: relative; margin-top: -7vh;" >



  <div class="postframe">

    <center>
      <h2 style="font-size: 2vh;"><%= @post["date"].html_safe%></h2>
      <h1 style="font-size: 4vh;"><%= @post["title"].html_safe%></h1>
      <br>
    </center>


    <% if !@post["video"].nil? %>

        <div>
        <h3 style="font-size: 2vh; font-style: italic;">Veja o tutorial completo:</h3>
        <hr style="margin-top: -0.7vh;">
        <center>
        <iframe id="my_iFrame" src=<%= @post["video"].html_safe%> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </center>
        </div>

    <% end %>
    <br>
    <br>
    <%= @post["text"].html_safe%>
  </div>

  <br>
  <br>
  <div class="fb-comments" data-href="http://www.entrevistadescomplicada.org" data-width="" data-numposts="5"></div>
</div>

<br>
<br>
<br>
</div>
