





<style>


.videoContainer {

background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9a1278, #003fff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9a1278, #003fff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  height: 55vh;
  text-align: center;
  overflow: hidden;
  margin-top: 0px;
}

#videoTrailer {
  min-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.title-text {
  font-family: 'Barriecito', cursive;
  color: white;
  font-size: 6vh;

  padding: 0.5vh;
  border-radius: 3px;
  display:inline-block;
  padding-left: 1.5vh;
  padding-right: 1.5vh;

}

.btn-text {
  color: white;
  background-color: #F0386B;
  margin: 20px;
  font-size: 2.5vh;
}

.zoom:hover {
  transform: scale(1.02);
}


.icon-font-home {
color: black;
font-weight: bold;
margin-top: 2vh;
font-size: 4vh;
font-family: 'Barriecito';
font-weight: bold;
}

.fit-image{
  max-height: 35vh;
}

.fit-image-courses{
  max-height: 25vh;
}

</style>


<div style="background-color: #F7F7F7;">


<div class="videoContainer">
  <img id="videoTrailer" style="object-fit: cover; height: 60vh; opacity: 1;" src="/assets/background2.gif" alt="sobre/about">
  <div style="position: relative; margin-top: -45vh;">
    <div class="container">
      <%= image_tag "logofim.png", class: 'img-responsive center-block fit-image', alt: "Entrevista Descomplicada" %> <br>
      <h2 class="" style="font-size: 2.5vh; margin: 0.2vh; margin-top: -2vh; color: white;">Aprenda os segredos dos processos seletivos e conquiste sua vaga de trabalho</h2>
    </div>
  </div>
</div>


<div style="
background: white;  /* fallback for old browsers */
padding: 2vh; border-radius: 3px; margin-top: 0vh;  z-index: 10; opacity: 1; position:relative;">

<!-- CARROUSEL VAGAS ***************** -->
<div class="container" style="color: gray;">

    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active">

              <h3 style="color: gray;">O que você encontra aqui?</h3>

                <div class="row">

                    <div class="col-sm" style="margin: 5px;">
                      <center>
                        <img class="card-img" style="max-width: 150px; border-radius: 50%;" src="https://image.freepik.com/free-vector/interview-concept-illustration_114360-1678.jpg" alt="Card image cap">
                        <p style="font-size: 2.2vh;">As melhores <strong>vagas de trabalho</strong> nas empresas mais renomadas do mercado</p>
                      </center>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <center>
                        <img class="card-img" style="max-width: 150px;" src="https://image.freepik.com/free-vector/content-concept-illustration_114360-1483.jpg" alt="Card image cap">
                        <p style="font-size: 2.2vh;">Os melhores <strong>cursos preparatórios</strong> para conseguir aprovação em processos seletivos</p>
                      </center>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <center>
                        <img class="card-img" style="max-width: 150px; border-radius: 50%" src="https://image.freepik.com/free-vector/wireframing-concept-illustration_114360-1249.jpg" alt="Card image cap">
                        <p style="font-size: 2.2vh;">Sem enrolação, conteúdo qualificado pra você <strong>se dar bem na próxima entrevista</strong> de emprego</p>
                      </center>
                    </div>

                </div>
            </div>

            <div class="carousel-item">

              <h3 style="color: gray;">Útimas vagas:</h3>

                <div class="row">

                    <div class="col-sm" style="margin: 5px;">
                        <div style="display: flex; align-items: start; justify-content: start;">
                          <div style="padding: 5px; margin-right: 2vw;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                            <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Nestlé - Programa de Estágio</h4>
                            <h5>Início: 31/03/2020</h5>
                            <h5>Fim: 31/03/2020</h5>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">
                            Programa de estágio Nestle.</p>
                            <center><a href="" class="btn btn-primary btn-sm" style="margin-top: 1vh;">Inscreva-se</a></center>
                            <br>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                        <div style="display: flex; align-items: start; justify-content: start;">
                          <div style="padding: 5px; margin-right: 2vw;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                            <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Nestlé - Programa de Estágio</h4>
                            <h5>Início: 31/03/2020</h5>
                            <h5>Fim: 31/03/2020</h5>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">
                            Programa de estágio Nestle.</p>
                            <center><a href="" class="btn btn-primary btn-sm" style="margin-top: 1vh;">Inscreva-se</a></center>
                            <br>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                        <div style="display: flex; align-items: start; justify-content: start;">
                          <div style="padding: 5px; margin-right: 2vw;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                            <br>
                          </div>
                          <div style="padding: 5px;">
                            <h4>Nestlé - Programa de Estágio</h4>
                            <h5>Início: 31/03/2020</h5>
                            <h5>Fim: 31/03/2020</h5>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">
                            Programa de estágio Nestle.</p>
                            <center><a href="" class="btn btn-primary btn-sm" style="margin-top: 1vh;">Inscreva-se</a></center>
                            <br>
                          </div>
                        </div>
                    </div>


                </div>
            </div>





        </div>
    </div>
</div>
<br>
<!-- CARROUSEL VAGAS FIM ***************** -->

</div>




<!-- SESSAO CURSOS ***************** -->
<div style="background-color: black; padding: 3vh; z-index: 10; position:relative; color: gray;">
  <div class="container">
  <h2 style="color: gray;">Cursos de preparação para entrevista:</h2>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-6 zoom">
      <center>
        <div style="margin-bottom: 3vh;">
          <%= image_tag "99CV.png", class: 'img-responsive center-block fit-image-courses', alt: "Curso preparatório para entrevista 99CV" %> <br>
          <p style="font-size: 2vh;">Curso 100% focado no desenvolvimento o currículo do candidato, a porta de entrada em todo processo seletivo para vagas de estágio, trainee ou trabalho</p>
          <a href="" class="btn btn-text" style="margin-top: -0.3vh;">Saiba mais</a>
        </div>
      </center>
    </div>

    <div class="col-xs-12 col-sm-6 zoom">
      <center>
        <div style="margin-bottom: 3vh;">
          <%= image_tag "AE2.png", class: 'img-responsive center-block fit-image-courses', alt: "Curso preparatório para entrevista 99CV" %> <br>
          <p style="font-size: 2vh;">Curso 100% focado no desenvolvimento o currículo do candidato, a porta de entrada em todo processo seletivo para vagas de estágio, trainee ou trabalho</p>
          <a href="" class="btn btn-text" style="margin-top: -0.3vh;">Saiba mais</a>
        </div>
      </center>
    </div>
  </div>
  </div>
</div>
<!-- SESSAO CURSOS ***************** -->



<br>
<br>




<!-- CARROUSEL COM DEPOIMENTOS ***************** -->
<div class="container">
  <h3 style="color: gray;">O que estão falando da Entrevista Descomplicada</h3>
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>

                    <div class="col-sm" style="margin: 5px;">
                      <br>
                        <div style="display: flex; align-items: start; justify-content: space-between;">
                          <div style="padding: 5px;">
                            <img class="card-img" style="border-radius: 50%; width: 20vw; max-width: 100px;" src="https://images.pexels.com/photos/821652/pexels-photo-821652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Card image cap">
                          </div>
                          <div style="padding: 5px;">
                            <h4>Joana Siqueira</h4>
                            <h4><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star" style="color: #FBC117;"></i><i class="fas fa-star"></i></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<!-- CARROUSEL COM DEPOIMENTOS ***************** -->




<!-- SESSAO PARA EMPRESAS ***************** -->
<div style="
background: white; padding: 3vh; z-index: 10; position:relative; color: gray;">

  <div class="container">
  <h3 style="color: gray;">Para empresas:</h3>
  <h4 style="color: gray;">Está procurando um novo talento para sua empresa?</h4>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <center>
          <i class="fas fa-city" style="font-size: 20vh; color: #356AE6;"></i>
      </center>
    </div>

    <div class="col-xs-12 col-sm-6">
      <p style="font-size: 3vh;">
        <br>
        Conectamos os melhores talentos às melhores oportunidades todos os dias.
        <br>
        <br>
        <center><strong>Veja nossas soluções para empresas!</strong></center>
      </p>
      <center><a href="" class="btn btn-sm">Entre em contato</a></center>
      <br>


    </div>
  </div>
  </div>
</div>
<!-- SESSAO PARA EMPRESAS FIM ***************** -->



<!-- QUEM SOMOS NOS ***************** -->
<div style="
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 3vh; z-index: 10; position:relative; color: gray;">

  <div class="container" style="color: white;">
  <h2>Quem somos nós:</h2>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <center>
        <div style="margin-bottom: 3vh;">
          <%= image_tag "logofim.png", class: 'img-responsive center-block fit-image', alt: "Entrevista Descomplicada" %> <br>
        </div>
      </center>
    </div>

    <div class="col-xs-12 col-sm-6">
        <div style="margin: 1vh;">
          <p style="font-size: 2.5vh;">O projeto <strong>Entrevista Descomplicada</strong> nasceu da insatisfação com os processos de seleção das grandes empresas. Cada vez mais nós (candidatos) estamos mais preparados e ainda assim recebemos um NÃO em entrevistas sem nenhum tipo de explicação. Aqui o candidato vai receber <strong>informações em detalhe sobre como se preparar</strong> e conseguir a tão sonhada vaga de trabalho.</p>
          <br>
          <center><a href="" class="btn btn-text" style="margin-top: -0.3vh;">Saiba mais</a></center>
        </div>
    </div>
  </div>
  </div>
</div>
<!-- QUEM SOMOS NOS ***************** -->







<div style="background-color: black;">

<div class="container">
  <br>
  <br>
  <p style="font-style: italic; font-weight: bold; font-size: 2.5vh; color: white;">Últimos posts</p>
  <hr/ style="margin-top: -1vh; margin-bottom: -1vh;">

<!-- loop de blog posts ***************** -->
<div class="row">
  <% @secondposts.each_with_index do |secondpost, index|%>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <% link = secondpost[1]["link"]%>
      <% photo = secondpost[1]["photo"]%>
      <% title = secondpost[1]["title"]%>
      <% category = secondpost[1]["category"]%>
      <% description = secondpost[1]["description"]%>
      <% date = secondpost[1]["date"]%>
      <br>

<!-- teste style ***************** -->
      <%= link_to link, {:style => 'text-decoration: none!important; color:black;'} do %>
          <div style="background-color: white; border-radius: 3px;" class="zoom">
          <div style="width: 100%;">
            <img style="width: 100%; min-height: 30vh;; object-fit: cover; border-radius: 3px;" src=<%= photo %> alt=<%= title %>>
          </div>
          <div style="margin-left: 1vh; margin-right: 1vw; padding: 1vh;">
            <h3 style="font-size: 1.7vh;" class="hide"><%= date%></h3>
            <h4 style="font-size: 1.7vh; color: grey;"><%= category.upcase%></h4>
            <h2 style="font-size: 3vh; margin-top: 0vh; font-weight: bold;"><%= title %></h2>
            <h4 style="font-size: 2vh; margin-top: 3vh; "><%= description %></h4>
            <br>
          </div>
          </div>

      <% end %>
<!-- teste style ***************** -->

    </div>
  <% end %>
</div>
<!--  fim: loop de blog posts ********************* -->

<br>
<br>
</div>

</div>



</div>























































