<style>


.videoContainer {

background: #0cebeb;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



  width: 100%;
  height: 85vh;
  text-align: center;
  overflow: hidden;
  margin-top: 0px;
}

#videoTrailer {
  min-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.title-text {
font-size: 2.7vh;
margin: 0.2vh;
margin-top: 2vh;
color: white;
line-height: 1.2;
font-weight: 320;
}

.btn-text-curso {
  color: white;
  margin: 1vh;
  max-width: 95vw;
  font-weight: 500;
  font-size: 1.8vh;
}

.btn-title-style {
  color: white;
  background-color:transparent;
  border-color: white;
  max-width: 90vw;
  font-weight: 500;
  font-size: 1.8vh;
}

.zoom:hover {
  transform: scale(1.02);
}



.fit-image{
  height: 26vh;
  border-radius: 3px;
}

.fit-image-garantia{
  height: 40vh;
  border-radius: 3px;
}

.background-curso {
background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 3vh; z-index: 10; position:relative; color: gray;">
}


.background-curso2 {
background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.img-selection {
  border-color: blue;
  border-radius: 3px;
  border-width: thick;
  background-color: #3498DB;
  padding: 1.5vh;
}

.center {
  margin: auto;
  width: 80%;
}


.novenovestyle {
  border-radius: 3px,
  max-width: 100px;
}
</style>


<div style="background-color: #F7F7F7;">



<!-- SEÇÃO HEAD-->
<div class="videoContainer">
  <img id="videoTrailer" style="object-fit: cover; height: 85vh; opacity: 0.8;" src="/assets/background2.gif" alt="sobre/about">
  <div style="position: relative; margin-top: -80vh;">
    <div class="container">
      <%= image_tag "rec.png", class: 'img-responsive center-block fit-image', alt: "Entrevista Descomplicada - Curso 99CV" %>
      <h1 class="title-text" style="margin-top: 1vh;">Um super workshop que vai mudar completamente a forma como você faz entrevistas de emprego!</h1>
      <!-- DATA-->

        <div style="color: white;">
        <hr style="color:white; max-width: 400px; margin-top: 1vh;">
        <div style="margin-top: 1vh;">
        <i class="fas fa-calendar-alt" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">23 de Junho</p></i> &nbsp;
        <i class="fas far fa-clock" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">20h00</p></i> &nbsp;
        <i class="fas fa-comment-dollar" style="font-size: 2vh;"> <p style="padding: 1vh; font-family: 'Arial', cursive; ">100% grátis</p></i> &nbsp;
        </div>
        </div>
      <!-- DATA END-->
      <p style="font-weight: 300; color: #b8c1c8; margin-bottom: -0.3vh;">Faça sua inscrição</p>
      <center> <script async data-uid="a593f20a41" src="https://crafty-architect-8610.ck.page/a593f20a41/index.js"></script> </center>

    </div>
  </div>
</div>
<!-- FIM: SEÇÃO HEAD-->


<!-- SEÇÃO INSCRIÇÃO-->
<div class="background-curso">
<div class="container">
<center>
  <h3 style="font-weight: 300; color: #b8c1c8; line-height: 1.2;">O que você vai aprender nesse workshop</h3>

  <!-- DATA-->
  <div style="color: white;">
  <hr style="color:white; max-width: 400px; margin-bottom: 1vh;">
  </div>
  <!-- DATA END-->



<!-- SEÇÃO O QUE VAI APRENDER-->
<div class="container">

  <div class="container" style="font-weight: 300; color: #b8c1c8; line-height: 1.5;">
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-4">
      <center>
        <div style="padding: 2vh;">
          <h2 style="font-size: 4vh;"><i class="fas fa-search"></i> Método</h2>
          <p>Você vai aprender um novo método de fazer entrevistas de emprego de forma a se <strong>recolocar no mercado de trabalho</strong> que funcionou em mais de <strong>50 entrevistas</strong>.</p>
          <div style="">
            <%= image_tag "cvcampeao.png", class: 'img-responsive center-block fit-image img-selection', alt: "Entrevista Descomplicada - Curso 99CV" %>
          </div>

        </div>
      </center>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <center>
        <div style="padding: 2vh;">
          <h2 style="font-size: 4vh;"><i class="far fa-question-circle"></i></i> Mindset do Entrevistador</h2>
          <p>Por que o método <strong>tradicional</strong> de se fazer entrevistas <strong>não é o mais eficiente</strong> para conseguir a vaga de trabalho.</p>
          <div style="">
            <%= image_tag "callcenter.jpeg", class: 'img-responsive center-block fit-image img-selection', alt: "Entrevista Descomplicada - Curso 99CV" %>
          </div>

        </div>
      </center>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <center>
        <div style="padding: 2vh;">
          <h2 style="font-size: 4vh;"><i class="fas fa-desktop"></i></i> Sem pagar nada</h2>
          <p>Workshop <strong>100% online e gratuito</strong>, basta se inscrever e não esquecer da data.</p>
          <div style="">
            <%= image_tag "screecapcurso.png", class: 'img-responsive center-block fit-image img-selection', alt: "Entrevista Descomplicada - Curso 99CV" %>
          </div>

        </div>
      </center>
    </div>

  </div>


</div>
</div>
<!--FIM: SEÇÃO O QUE VAI APRENDER-->


<br>
</center>
</div>
</div>
<!-- FIM: SEÇÃO INSCRIÇÃO-->


<%= render 'shared/workshoppqfunciona' %>

<%= render 'shared/depoimentos' %>

<%= render 'shared/quemsomos' %>

</div>
